/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7em; 
}
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3 {
    padding-bottom: 20px;
}
p {
    margin: 10px 0;
}
/* navbar */
#navbar {
background-color: black;
color: whitesmoke;
overflow: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    height: 60px;
    padding: 20px;
  }
  .logo-wrapper{
    color: white;
    font-family: cursive;
  }
  .nav-items a {
    color: white;
    padding: 15px;
    text-decoration: none;
    
  }
  .nav-items .nav-link:hover{
    background-color: greenyellow;
    color: darkolivegreen;
    border-radius: 2px;
    
  }
/* Home inf o */
#home-info {
    height: 400px;
}
#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/musa.jpeg') no-repeat;
    min-height: 100%;
}
#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
/* footer*/
footer{
    margin-top: 20px;
    background-color: black;
    background-size: cover;
    height: 100px;
    padding: 80px 80px;
  }
  footer p{
    text-align: center;
    color: cornsilk;
    font-size: 20px;
    font-weight: 900;
    font-family: Monospace;
  }
  .social-media-icon{
    display: flex;
    color: whitesmoke;
    gap: 40px;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 10px;
  }
  @media(max-width:900px){
    #home-info .info-img{
      height: 50px;
      padding: 10px 50px;

/* contact*/
#contact-form .form-group{
    margin-bottom: 20px;
}
#contact-form label {
    display: block;
    margin-bottom: 5px;
}
#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}
#contact-form textarea {
    height: 200px;
}
#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
    border-color:#f7c08a;
}
 /* skill */
 .skill{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.skill-container{
    text-align: center;
    background-color: darkgray;
    margin-top:30px;
    padding-top:20px ;
    padding-left: 15px;
}

.skill .skill-set{
    background-color: white;
    padding: 20px;
    width: 30%;
    margin-bottom: 30px;
    margin-left: 15px;
}

.skill .skill-set p span{
    color: rgb(47, 47, 117);
    font-weight: bolder;
}