/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main styling */
html,body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7em; 
}
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3 {
    padding-bottom: 20px;
}
p {
   margin: 10px 0;
}
/* navbar */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    transition-property: background;
    transition-duration: 2s;

}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
nav .mainmenu {
    display: flex;
    list-style: none;

}
nav .mainmenu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
nav .mainmenu li a:hover{
    background-color: brown;
    border-radius: 20%;
}
nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .logo{
    margin: 6px;
    font-size: 20px;
    cursor: pointer;
    padding-top: 10px;
}
@media (max-width: 800px){
    nav .mainmenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: top 2s ease;
        display: none;

    }
    nav .openMenu{
        display: block;
    }
    nav .mainmenu li a:hover{
        background: none;
        color: coral;
        font-size: 1.5rem;
    }
    .icons i{
        display: inline-block;
        padding: 10px;
    }
}
 /* padding */
 .py-1 { padding: 10px;}
 .py-2 { padding: 20px;}
 .py-3 { padding: 30px;}



/* Home info */
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;

}
#about-info .info-right img {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 50%;

}
#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}

/* footer*/
footer{
    margin-top: 20px;
    background-color: black;
    background-size: cover;
    height: 100px;
    padding: 80px 80px;
  }
  footer p{
    text-align: center;
    color: cornsilk;
    font-size: 20px;
    font-weight: 900;
    font-family: Monospace;
  }
  .social-media-icon{
    display: flex;
    color: whitesmoke;
    gap: 40px;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 10px;
  }
 
    

/* contact*/
#contact-form{ 
    background-color: lightsteelblues; 
}
.contact {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    transition-property: background;
    transition-duration: 2s;  
}
#contact-form .form-group{
    margin-bottom: 20px;
}
#contact-form label {
    display: block;
    margin-bottom: 5px;
}
#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}
#contact-form textarea {
    height: 200px;
}
#contact-form input:focus, #contact-form textarea:focus {
    outline: none;
    border-color:#f7c08a;
}
 /* skill */
 .skill{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.skill-container{
    text-align: center;
    background-color: darkgray;
    margin-top:30px;
    padding-top:20px ;
    padding-left: 15px;
}

.skill .skill-set{
    background-color: white;
    padding: 20px;
    width: 30%;
    margin-bottom: 30px;
    margin-left: 15px;
}

.skill .skill-set p span{
    color: rgb(47, 47, 117);
    font-weight: bolder;
}